.container {
    background-color:rgb(42, 165, 69);
    border: 3px solid red;
    padding: 15px;
    display: grid;
    grid-template-areas: 
    "t1 t1 t2 t3"
    "t4 t5 t5 t3";
    grid-gap: 20px;
}

.container div {
    background-color: antiquewhite;
    border: 2px solid blue;
    padding: 20px;
    border-radius: 10px;
}

#item-1 {
    grid-area: t1;
    grid-column: "t1";
    
}

#item-2 {
   grid-area: t2;
}

#item-3 {
    grid-area: t3;
    grid-row: "t3";
}

#item-4 {
    grid-area: t4;
}

#item-5 {
    grid-area: t5;
    grid-column: "t5";
}
